h1 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
  background-color: black;
  display: block;
  Margin: 33.500;
  width: 885;
  height: 120;
}
h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  text-align: center;
  display: block;
  background-color: black;
  margin: 34.860
  width: 473;
  height: 102:
}
body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  display: block;
  Margin: 8px;
  width: 885;
  height: 1969.940;
}
.lks {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  background-color: black;
  cursor:auto;
  width: auto;
  height: auto;
}
.video {
  object-fit: contain;
  text-align: center;
  background-color: black;
  width: 404;
  height: 720;
}
.camp {
  text-align: center;
  background-color: black;
  width: 896;
  height: 527;
}
.app {
  color: white;
  background-color: black;
  text-align: center;
  margin: 21;
  width: 64;
  height: 108;
}
p {
  font-family: Verdana;
  font-size: 21px;
  text-align: center;
  color: grey;
  background-color: black;
}
.footer p {
  color: gray;
  text-align: right;
  background-color: black;
}
div {
  text-align: right;
  display: block;
  background-color: black;
  width: 885;
  height: 25;
}
